
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li{
    margin: 8px 0;
    display: block;
}
li a {
    display: block;
}

.main-navbar {
    position: relative;
    background-color: #F44336;
    color: white;
    z-index: 10;
}

.main-navbar-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 42px;
}

.main-navbar-content {
    padding: 0.5px 16px;
}

.main-content {
    position: relative;
    margin-top: 42px;
    padding: 1em;
}

.section {
    margin: 1em auto;
    margin-bottom: 3em !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.icon {
    position: relative;
    width: 32px;
    height: 32px;
}

.icon img {
    position: absolute;
    top: 4px;
    left: 4px;
}

.main-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
	background-color:#2e333b;
    color: white;
    width: 300px;
}
.main-sidebar .section {
    margin: 1em 0;
    margin-bottom: 2em !important;
}

.main-sidebar-right {
    right: 0;
    text-align: right;
}
.main-sidebar-left {
    left: 0;
    text-align: left;
}

[data-simplersidebar="sbwrapper"] {
    padding: 1em;
}

.dynamic-right .main-navbar-content {
    float: right;
}

.dynamic-left .main-navbar-content {
    float: left;
}

.main-sidebar-wrapper {
    position: relative;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top:1em ;
	padding-left:15px;
	cursor:pointer;
	width:278px;
}



.header
	{
	background-color:#0084AD;
	color:FEFEFE;
	}
.second 
	{
	background-color:FFFFFF;
	}
.button-height
	{
	height:33.5px;
	}
.common 
	{
	min-height:60px;
	padding-top:12px;
	}
body 
	{
	font-family: 'Open Sans', sans-serif;
	cursor:default;
	overflow-x:visible;
	}
.l-align
	{
	text-align:left;
	}
a 
	{
	color:white;
	}
a:hover
	{
	color:white;
	text-decoration:none;
	}
.navigation li 
	{
	overflow:hidden;
	text-overflow:ellipsis;
	height:23px;
	}
.device-row
	{
	background-color:#f6f6f6;
	}
#display::-webkit-scrollbar
	 {
	width: 0px;
	}
#display::-webkit-scrollbar-track-piece
	 {
	background-color: transparent;
	}
#display::-webkit-scrollbar-thumb
	 {
	border-radius: 25px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: lightgrey;
	}
#phone
	{
	transform:scale(0.75,0.75);
	}
.samsung-tab
	{
	width:100%;
	}
.iphone > .portrait
	{
	-webkit-transition: 0.5s ease-in;
	width:454px;
	height:864px;
	background-image:url("../images/iphone 5s ok.png");
	background-repeat:no-repeat;
	background-position:center; 
	}
.iphone6 > .portrait
	{
	-webkit-transition: 0.5s ease-in;
	width:460px;
	height:928px;
	background-image:url("../images/iphone_6.png");
	background-repeat:no-repeat;
	background-position:center;
	}
.iphone6-plus > .portrait
	{
	-webkit-transition: 0.5s ease-in;
	width:517px;
	height:1030px;
	background-image:url("../images/iphone_6_plus.png");
	background-repeat:no-repeat;
	background-position:center;
	}
.nexus4 > .portrait
	{
	-webkit-transition: 0.5s ease-in;
	width:518px;
	height:966px;
	background-image:url("../images/nexus4.png");
	background-repeat:no-repeat;
	background-position:center;
	margin-left:0.25%;
	}
.moto-g > .portrait
	{
	-webkit-transition: 0.5s ease-in;
	width:504px;
	height:890px;
	background-image:url("../images/motorola-moto-G.png");
	background-repeat:no-repeat;
	background-position:center;
	}
.ipad2 > .portrait
	{
	-webkit-transition: 0.5s ease-in;
	height:1390px;
	width:972px;
	background-image:url("../images/ipad2.png");
	background-repeat:no-repeat;
	background-position:center;
	}
.ipad-air2 > .portrait
	{
	-webkit-transition: 0.5s ease-in;
	width:810px;
	height:1310px;
	background-image:url("../images/iPadAir2.png");
	background-repeat:no-repeat;
	background-position:center;
	}
.samsung-tab > .portrait
	{ 
	-webkit-transition: 0.5s ease-in;
	width:1185px;
	height:1564px;
	background-image:url("../images/Galaxy-Tab4-10.1-SM-T530-Black_1.png");
	background-repeat:no-repeat;
	background-position:center;
	}
.custom > .portrait
	{
	-webkit-transition: 0.5s ease-in;
	border-radius:30px;
	}
.iphone > .portrait > .display
	{
	-webkit-transition: 0.5s ease-in;
	height:5.73in;
	width:3.34in;
	margin-top:160px;
	margin-left:1%;
    border:transparent;
	display:inline;
	}
.iphone6 > .portrait > .display 
	{
	-webkit-transition: 0.5s ease-in;
	height:6.936in;
	width:3.96in;
	margin-top:132px;
	margin-left:2.5%;
	border:transparent;
	}
.iphone6-plus > .portrait > .display 
	{
	-webkit-transition: 0.5s ease-in;
	height:7.71in;
	width:4.36in;
	margin-top:144px;
	margin-right:0.5%;
	border:transparent;
	}
.nexus4 > .portrait > .display
	{
	-webkit-transition: 0.5s ease-in;
	height:6.8in;
	width:4.455in;
	margin-top:138px;
    border:1px solid black;
	display:inline;
	}
.moto-g > .portrait > .display
	{
	-webkit-transition: 0.5s ease-in;
	height:6.442in;
	width:4.15in;
	margin-top:133px;
	margin-left:3.4%;
    border:transparent;
	display:inline;
	}
.ipad2 > .portrait > .display
	{
	-webkit-transition: 0.5s ease-in;
	height:10.57in;
	width:8.02in;
	margin-top:163px;
	margin-left:0.4%;
	border:transparent;
	}
.ipad-air2 > .portrait > .display 
	{
	-webkit-transition: 0.5s ease-in;
	height:10.75in;
	width:7.02in;
	margin-top:142px;
	margin-right:0.5%;
	border:transparent;
	}
.samsung-tab > .portrait > .display 
	{
	-webkit-transition: 0.5s ease-in;
	height:14.41in;
	width:9.186in;
	margin-top:88px;
	margin-right:0.5%;
	border:transparent;
	}
.custom > .portrait > .display
	{
	-webkit-transition: 0.5s ease-in;
	display:none;
	position:absolute;
	margin-left:50px;
	margin-top:50px;
	background-color:white;
	border:transparent;
	}
.iphone > .landscape
	{
	-webkit-transition: 0.5s ease-in;
	width:818px;
	height:590px;
	background-image:url("../images/iphone 5s okL.jpg");
	background-repeat:no-repeat;
	background-position:center;
	}
.iphone6 > .landscape 
	{
	-webkit-transition: 0.5s ease-in;
	width:900px;
	height:630px;
	background-image:url("../images/iphone_6L.png");
	background-repeat:no-repeat;
	background-position:center;
	}
.iphone6-plus > .landscape 
	{
	-webkit-transition: 0.5s ease-in;
	width:1030px;
	height:652px;
	background-image:url("../images/iphone_6_plus- L.png");
	background-repeat:no-repeat;
	background-position:center;
	}
.nexus4 > .landscape
	{
	-webkit-transition: 0.5s ease-in;
	width:990px;
	height:655px;
	background-image:url("../images/nexus4L.png");
	background-repeat:no-repeat;
	background-position:center;
	}
.moto-g > .landscape
	{
	-webkit-transition: 0.5s ease-in;
	width:935px;
	height:650px;
	background-image:url("../images/motorola-moto-GL.png");
	background-repeat:no-repeat;
	background-position:center;
	}
.ipad2 > .landscape
	{
	-webkit-transition: 0.5s ease-in;
	width:1307px;
	height:1020px;
	background-image:url("../images/ipad2 - L.png");
	background-repeat:no-repeat;
	background-position:center;
	}
.ipad-air2 > .landscape
	{
	-webkit-transition: 0.5s ease-in;
	width:1276px;
	height:810px;
	background-image:url("../images/iPadAir2L.png");
	background-repeat:no-repeat;
	background-position:center;
	}
.samsung-tab > .landscape
	{ 
	-webkit-transition: 0.5s ease-in;
	width:1565px;
	height:1185px;
	background-image:url("../images/Galaxy-Tab4-10.1-SM-T530-Black_1L.png");
	background-repeat:no-repeat;
	background-position:center;
	}
.custom > .landscape
	{
	-webkit-transition: 0.5s ease-in;
	border-radius:30px;
	}
.iphone > .landscape > .display
	{
	-webkit-transition: 0.5s ease-in;
	height:3.5in;
	width:5.744in;
	margin-top:125px;
	margin-left:0.8%;
    border:transparent;
	}
.iphone6 > .landscape >.display
	{
	-webkit-transition: 0.5s ease-in;
	height:3.96in;
	width:6.93in;
	margin-top:119px;
	margin-left:0.2%;
	border:transparent;
	}
.iphone6-plus > .landscape >.display
	{
	-webkit-transition: 0.5s ease-in;
	height:4.38in;
	width:7.68in;
	margin-top:117px;
	margin-left:0.1%;
	border:transparent;
	}
.nexus4 > .landscape > .display
	{
	-webkit-transition: 0.5s ease-in;
	height:4.45in;
	width:6.797in;
	margin-top:114px;
	margin-right:3.78%;
    border:transparent;
	}
.moto-g > .landscape > .display
	{
	-webkit-transition: 0.5s ease-in;
	height:3.8in;
	width:6.84in;
	margin-top:148px;
	margin-right:5.2%;
    border:transparent;
	}
.ipad2 > .landscape > .display
	{
	-webkit-transition: 0.5s ease-in;
	height:8.04in;
	width:10.575in;
	margin-top:122px;
	margin-right:50px;
	border:transparent;
	}
.ipad-air2 > .landscape > .display 
	{
	-webkit-transition: 0.5s ease-in;
	height:7.03in;
	width:10.745in;
	margin-top:69px;
	margin-left:0.3%;
	border:transparent;
	}
.samsung-tab > .landscape > .display 
	{
	-webkit-transition: 0.5s ease-in;
	height:9.186in;
	width:14.42in;
	margin-top:150px;
	margin-left:0.2%;
	border:transparent;
	}
.custom > .landscape > .display
	{
	-webkit-transition: 0.5s ease-in;
	display:none;
	position:absolute;
	margin-left:50px;
	margin-top:50px;
	border:transparent;
	background-color:white;
	}